*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-1:#370617;
    --dark-2: #940f3e5c;
    --light-1: #e9ecef;
    --light-2: #adb5bd;
    --light-3: #6c757d;
}

body{
    font-family: 'Manrope', sans-serif;
    font: 62.5%;
    display: grid;
    padding: 2rem;
    grid-template-columns: 35rem 70%;
    height: 100vh;
    overscroll-behavior-y: none;

}

#side-bar{
    background-color:var(--dark-1) ;
    position: relative;
}

#map{
    background-color: var(--dark-2);
}

/* logo */
.logo-con{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.logo{
    width: 10rem;
}

.panel, .form{
    background-color:var(--dark-2);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    border-radius:5px;
}

.form__con{
    height: 80vh;
    overflow-y:scroll;
    overflow-x: hidden;
}

.form__con::-webkit-scrollbar{
    display: none;
}

.form__label{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
}

.form__input{
    width: 50%;
    height: 2rem;
    border-radius: 3px;
    border: 0;
    padding-left: 10px;
    color: var(--light-3);
    background-color: var(--light-1);
}

.form__input::placeholder{
    font: inherit;
    font-size: 1rem;
    color: var(--light-2);
}

.form__input:focus{
    outline: none;
}

.form__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__item--hidden{
    display: none;
}

.form__btn{
    display: none;
}

select{
    font: inherit;
    color: var(--light-2);
    border-radius: 0;
}

option:hover{
    background-color: var(--dark-1);
}

/* metric panel */
.metric__card{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: var(--light-1);
}

.metric{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 1.5rem;
}

.unit, .value, .activity_icon{
    font-size: 1.2rem;
    font-weight: 600;
}

.unit{
    color: var(--light-2);
    font-size: 0.8rem;
}

.card__border-running{
    border-left: solid 5px red;
}

.card__border-cycling{
    border-left: solid 5px yellow;
}


/*sidebar footer */
.foot{
    text-align: center;
    color: var(--light-2);
    font-size: 0.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem
}

.foot__link{
    color: var(--light-2);
    text-decoration: none;
}

.foot__link:hover{
    color: white;
}

.form.hidden{
    display: none;
    opacity: 0;
    height: 0;
    transform: translateY(-30rem);
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1rem;
  }
  
.leaflet-popup .leaflet-popup-tip {
    background-color: var(--dark-1);
  }
  
.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid red;
  }
.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid yellow;
  }
  